* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    font-size: large;
    background-color: #1c1c1c;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.container {
    background-color: #000;
    padding: 10px;
    border-radius: 10px;
    max-width: 100%;
    text-align: center;
    margin-bottom: 50px;
}

.profile-img {
    border-radius: 50%;
    width: 80px;
    margin-top: 0px;
    margin-bottom: 10px;
    border: 3px solid #f39c12;
    padding: 3px;
    animation: pulse-border 1.5s infinite;
}

@keyframes pulse-border {
    0% {
        border-color: #f39c12;
        transform: scale(1);
    }
    50% {
        border-color: #e67e22;
        transform: scale(1.05);
    }
    100% {
        border-color: #f39c12;
        transform: scale(1);
    }
}

h2, p {
    color: #ffffff;
}
h3 {
    font-size: medium;
    font-style: italic;
    color: rgb(153, 149, 149);
}

.icon-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #101010;
    margin-top: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.skills-title {
    font-style: italic;
    margin-top: 5px;
}

.icons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.icon {
    width: 40px;
    height: auto;
    margin: 10px;
}

.links {
    margin: 10px 0;
}

.social-title {
    background-color: #101010;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
}

.link-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    margin-bottom: 20px;
    margin-top: 5px;
}

.icon-background {
    background-color: #101010;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s, transform 0.2s;
}

.icon-background:hover {
    background-color: #f39c12;
    transform: scale(1.05);
}

.link-grid img {
    width: 40px;
    height: auto;
}

.btn-large {
    background-color: #f39c12;
    padding: 15px 55px;
    border-radius: 5px;
    justify-content: center;
    color: #ffffff;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s, transform 0.2s;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

.btn-large:hover {
    background-color: #101010;
    transform: scale(1.05);
}

.spotify-player {
    background-color: #101010;
    border-radius: 5px;
    margin-top: 19px;
    text-align: center;
}

/* Media Query para telas pequenas (máximo de 768px de largura) */
@media (max-width: 768px) {
    .container {
        padding: 10px 5px;
    }

    .profile-img {
        width: 60px;
    }

    .btn-large {
        padding: 10px 20px;
    }

    .link-grid {
        grid-template-columns: 1fr;
    }

    .icon {
        width: 40px;
    }

    body {
        font-size: medium;
    }
}

/* Media Query para telas muito pequenas (máximo de 480px de largura) */
@media (max-width: 480px) {
    .profile-img {
        width: 50px;
    }

    .btn-large {
        padding: 8px 15px;
        font-size: small;
    }

    .link-grid {
        grid-template-columns: 1fr;
    }

    body {
        font-size: small;
    }
}
